/* Basic styles */
body{
    background-color: #D6B2DC;
}
h1 {
    color:white; 
}
p{
    color:#422D4C;
     font-family: "Times New Roman", Times, serif;
     font-size:16px;
     border:double;
     border-color:;
}

h2, h3, h4, h5, h6{
    color: #59496F;
    background-color:#B2A2C9;
}

a{
    color:white;
}

a:hover{
    color:white;;
}


/* Homepage styles*/
.cover{
    height:300px;
    margin-top:25%;
    background-image: url("pexels image.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
.white {
    color:white;
}
.front-logo h1 {
       color:white;
}
.front-nav-1{
 background-color:#9F86C0;
}
.front-nav-2 {
    background-color:#5E548E;
}
.front-nav-3 {
    background-color:#231942;
}
main.col-md-2 {
     height:200px;
    padding:2em;
    margin-top:2em;
}
header {
     background-color: #796890;
    color:white;
    padding:4em;
    margin:2em;
}
.rounded-circle {
    height :250px;
}
.center {
    text-align: center;
}